body {
	background-color: #FAFAFA;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	line-height: 1.65em;
}

footer {
	color: #C4C4C4;
	font-size: 13px;
	padding-bottom: 40px;
	padding-top: 20px;
	text-align: center;
}

a {
	text-decoration: none;
}

footer>a {
	color: #bbb;
}

p img {
	clear: both;
	max-width: 100%;
	margin-bottom: 1.65em;
}

p a img {
	clear: both;
	margin-bottom: 1.65em;
	max-width: 100%;
}

p {
	color: #555;
	font-size: 16px;
	font-weight: 300;
}

h1 {
	color: #222;
	font-family: Roboto Slab, Open Sans, sans-serif;
	font-size: 30px;
	font-weight: 300;
	line-height: 1em;
	margin: 0;
}

a>h1 {
	color: #3498db;
	text-align: left;
	transition: linear 1s;
}

a:hover>h1, a:active>h1 {
	color: #f1c40f;
	transition: linear 1s;
}

.date {
	color: #C4C4C4;
	display: none;
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 2em;
}

.wrap {
	margin: 0 auto;
	max-width: 650px;
	min-width: 300px;
	padding-top: 4em;
}

.item {
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 3em;
	padding-bottom: 2em;
}

.item td {
	max-width: 650px;
}


.pagination {
	margin-bottom: 2em;
}

.pagination>a {
	background-color: #3498db;
	border-radius: 3px;
	color: #fff;
	margin-left: 5px;
	margin-right: 5px;
	padding: 5px;
	text-decoration: none;
	transition: linear 1s;
}

.pagination>a:hover {
	background-color: #f1c40f;
	transition: linear 1s;
}

.feedflare {
	display: none;
}
