body {
	font-family: 'Open Sans', sans-serif;
}

footer {
	font-size: 13px;
	color: #C4C4C4;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 40px;
}

a {
	text-decoration: none;
}

p {
	font-family: Georgia, serif;
	color: #7D7D7D;
	font-size: 14px;
	margin-bottom: 50px;
}

h1 {
	font-size: 52px;
	color: #2E2E2E;
	margin: 0px;
	margin-bottom: 10px;
}

h2 {
	font-weight: 300;
	font-size: 13px;
	color: #C4C4C4;
	margin-bottom: 40px;
}

.wrap {
	min-width: 350px;
	max-width: 350px;
	margin: 0 auto;
	overflow: auto;
	padding-top: 60px;
}