body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	background-color: #FAFAFA;
	line-height: 1.65em;
}

footer {
	font-size: 13px;
	color: #C4C4C4;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 40px;
}

a {
	text-decoration: none;
}

footer>a {
	color: #bbb;
}

p img {
	clear: both;
	min-width: 100%;
	max-width: 100%;
	margin-bottom: 1.65em;
}

p {
	color: #555;
	font-size: 16px;
	font-weight: 300;
}

h1 {
	font-size: 30px;
	color: #222;
	margin: 0px;
	font-weight: 300;
	font-family: Roboto Slab, Open Sans, sans-serif;
	line-height: 1em;
}

a>h1 {
	text-align: left;
	color: #3498db;
	transition: linear 1s;
}

a:hover>h1, a:active>h1 {
	color: #f1c40f;
	transition: linear 1s;
}

h2 {
	font-weight: 300;
	font-size: 14px;
	color: #C4C4C4;
	margin-bottom: 2em;
	display: none;
}

.wrap {
	min-width: 350px;
	max-width: 650px;
	margin: 0 auto;
	overflow: visible;
	padding-top: 4em;
}

.item {
	margin-bottom: 3em;
	padding-bottom: 2em;
	border-bottom: 1px solid #e0e0e0;
}

<<<<<<< HEAD
.pagination>a {
	color: #C4C4C4;
	margin-left: 5px;
	margin-right: 5px;
	text-decoration: none;
}
=======
.pagination {
	margin-bottom: 1.65em;
}

.pagination>a {
	color: #fff;
	margin-left: 5px;
	margin-right: 5px;
	text-decoration: none;
	background-color: #3498db;
	padding: 5px;
	border-radius: 3px;
	transition: linear 1s;
}

.pagination>a:hover {
	background-color: #f1c40f;
	transition: linear 1s;
}

.feedflare {
	display: none;
}
>>>>>>> b53e70f1a5bfc47fc87b513da9d74b2da11e6459
